<nav id="navbar-example1" class="navbar navbar-expand-lg navbar-dark bg-dark nav-flex">
  <a class="small-logo" [routerLink]="['/']">+1</a>
    <div class="buttons-right">
  <form (ngSubmit)="locationClick">
      <input class="locationInput" type="text" [(ngModel)]="locationInput" name="location" placeholder="New location?" />
      <button class="location-button" type="submit" (click)="locationClick(locationInput)"><i class="fas fa-map-marker-alt"></i></button>
  </form>
  <a class="nav-link" [routerLink]="['/favorites']"><i class="fa fa-heart"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" data-toggle="dropdown" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-search"></i>
  </button>  
</div>
  
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <!-- <div role="separator" class="dropdown-divider"></div> -->
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/first-date']">First Date</a>
      </li>
      <div role="separator" class="dropdown-divider"></div>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/romantic']">Romantic</a>
      </li>          
      <div role="separator" class="dropdown-divider"></div>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/adventure']">Adventurous</a>
      </li>
      <div role="separator" class="dropdown-divider"></div>
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/one-oak']">One of a Kind</a>
      </li>
      <div role="separator" class="dropdown-divider"></div> -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/last-date']">Last Date</a>
      </li>
      <!-- <div role="separator" class="dropdown-divider"></div> -->
    </ul>
    <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="searchInput" (change)='getDateSearch(searchInput)' placeholder="search...">
      <div class="input-group-append">
        <button type="button" class="btn btn-primary btn-sm" (click)="getDateSearch(searchInput)">Enter</button>
      </div>
      </div>
  </div>
</nav>
  <nav id="navbar-example2" class="navbar navbar-light  navbar-dark-background">
      <span class="logo-input navbar-brand">
        <a class="small-logo" [routerLink]="['/']">+1</a>
          <!-- <p class="plus-logo">+</p>
        <input class="small-logo" [(ngModel)]="logoNumber" type="number" placeholder="1"/> -->
      </span>
      <!-- <div class="locationHead">
          <i class="fas fa-map-marker-alt"></i>
          <input class="locationInput" type="text" (input)="locationSearch(locationInput)" [(ngModel)]="locationInput" placeholder="City, State" />
      </div> -->
      <!-- <a class="small-logo navbar-brand" href="#">+1{{logo}}</a> -->
      <form (ngSubmit)="locationClick">
          <input class="locationInput" type="text" [(ngModel)]="locationInput" name="New location?" placeholder="New location?" />
          <button class="location-button" type="submit" (click)="locationClick(locationInput)"><i class="fas fa-map-marker-alt"></i></button>
      </form>
    <ul class="nav nav-pill">    
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/favorites']"><i class="fa fa-heart"></i></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search"></i></a>
        <div class="dropdown-menu">
 
          <div class="input-group input-group-sm mb-3">
            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" [(ngModel)]="searchInput" (change)='getDateSearch(searchInput)' placeholder="search...">
          <div class="input-group-append">
            <button type="button" class="btn btn-primary btn-sm" (click)="getDateSearch(searchInput)">Enter</button>
          </div>
          <!-- <div class="inputContainer">
              <input class="locationInput" type="text" [(ngModel)]="locationInput" placeholder="city & state" />
              <button class="location-button" type="button" (click)="locationClick(locationInput)"><i class="fa fa-search"></i></button>
            </div> -->
          </div>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" [routerLink]="['/first-date']">First Date</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/romantic']">Romantic</a>
          <div role="separator" class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/adventure']">Adventurous</a>
          <div role="separator" class="dropdown-divider"></div>
          <!-- <a class="dropdown-item" [routerLink]="['/one-oak']">One of a Kind</a>
          <div role="separator" class="dropdown-divider"></div> -->
          <a class="dropdown-item" [routerLink]="['/last-date']">Last Date</a>
        </div>
      </li>
    </ul>
  </nav>