.container {
    /* margin-top: 50px; */
    /* border: 1px solid pink; */

}

.business {
    background: 
    linear-gradient(90deg, transparent, white), 
    linear-gradient(#33999b, #9999cd);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 25px;
}

.business-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 15px 15px 20px 15px;
    
}

.name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}

img {
    top: 15px;
    right: 0;
    width: 100px;
    height: auto;
    position: absolute;
    /* margin: 10px; */
 }

.fa-heart, .favorite{
    position: absolute;
    color: #2e8a8b;
    font-size: 20px;
    top: -4px;
    left: 6px;
}

h1 {
    /* margin: 25px 0; */
    font-size: 1.5rem;
    font-weight: 800;
}

.business p {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

button {
    border: none;
    background-color: transparent;
    width: 70%;
    padding: 0;
    text-align: left;
    margin-top: 20px;

}

.infoDiv {
margin: 15px;
}

.reviewText {
    margin-bottom: 15px;
}

#carouselExampleControls {
    border: 1px solid black;
}