p {
    color: black;
    font-size: 0.75rem;
    margin: 2px 0px 2px 0px;
    padding: 0px;
}

.title {
    font-size: 2rem;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #33999b;
  border: 2px solid #33999b;
  border-radius: 3px;
  padding: 15px;
  text-align: center;
  margin: 0 auto;
  margin-top: 2%;
  background-color: white;
}

.business-cont {
    margin: 50px 0px 0px 0px;
    align-self: center;
    padding: 0px;
    width: 100%;
}

.business {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: 50px 0px 0px 0px;
    border-top: 3px solid #33999b;
    padding: 0px 10px 5px 10px;
    -webkit-transition: width 1s, height 0.5s;
    transition: width 1s, height 0.5s;
    transition: transform .2s; /* hover zoom Animation */

}

.business:hover {
    transform: scale(1.075);
    z-index: 1;
}

.business-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    width: 60%;
    margin: 5px 15px 20px 140px;
    padding: 0px 10px 0px 0px;
}

.business-rating-price {
    position: absolute;
    margin: 138px 0px 15px 5px;
    padding: 0px 0px 10px 0px;
}

.business-rating-price p {
    color: #33999b;
    font-size: 0.85rem;
    font-weight: 900;
}

.business-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.fa-heart {
    position: absolute;
    color: #33999b;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1.5px; 
    font-size: 30px;
    top: -12px;
    left: 12px;
}

.fa-heart:hover {
    color: #1A4E4F;
    cursor: pointer;
    font-size: 50px;
}

.fa-star {
    font-size: 0.8rem;
}

.fa-phone, .fa-clock {
    color: gray;
}

.fa-caret-down, .fa-caret-up {
    color: #33999b;
}

h1 {
    font-size: 1.3rem;
    font-weight: 800;
    color: #33999b;
}


.categories {
    font-size: 0.9rem;
    margin: 0px;
}

.address {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 5px;
    margin-top: 15px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.address i {
    margin-right: 10px;
    color: gray;
}


a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

button {
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: right;
    margin-top: 20px;
    margin-right: 10px;
    font-size: 0.75rem;
    padding: 0px 12px 0px 0px;
    color: #33999b;
}

button:hover {
    cursor: pointer;
    color: #1A4E4F;
}

.infoDiv {
margin: 15px;
border-top: 1px dotted lightgray;
padding-top: 15px;
}

.hoursDiv{
    border-bottom: 1px dotted lightgray;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.phone, .open {
    font-weight: 900;
    margin: 2px 0px 2px 0px;
}

.open:hover {
    cursor: pointer;
    color: #33999b;
}

.p-bold {
    font-weight: 900;
}

.hoursTitle {
    margin-top: 15px;
    font-weight: 900;
}

.reviewText {
    margin-bottom: 15px;
}

.read-more {
    font-size: 0.5rem;
    color: gray;
}

.reviews {
    margin-top: 20px;
}

img {
    top: 0px;
    left: 0;
    position: absolute;
    object-fit: cover;
    width:130px;
    height:130px;
}

.like {
    color: #1A4E4F; 
}

.like:hover {
    color: #33999b;
    cursor: pointer;
}

@media only screen and (min-width: 480px) {
 
h1 {
    font-size: 1rem;

}
.business-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin-top: 15px;
}

.business {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 0px;
    width: 90%;
    min-height: 190px;
}

.business-rating-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 20px 15px 175px;
    padding: 0px 0px 10px 0px;
}

img {
    object-fit: cover;
    width:165px;
    height:165px;
  }


.business-rating-price p {
    font-size: 1rem;
}

.fa-star {
    font-size: 1rem;
}

.business-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    width: 45%;
    margin: 15px 15px 15px 240px;
    padding: 0px 10px 0px 0px;
}

.fa-heart {
    position: absolute;
    font-size: 2.3rem;
    top: 15px;
    left: -14px;
}

.fa-heart:hover {
    font-size: 3rem;
}

}

@media only screen and (min-width: 768px) {

    .title {
        width: 40%;
        margin-top: 4%;
    }
}    


@media only screen and (min-width: 1024px) {

    .business-cont {
        flex-flow: row wrap;
        justify-content: center;
    }

    .business {
        margin: 50px 20px 0px 20px;
        flex-direction: row;
        align-items: flex-start;
        align-content: space-between;
        width: 45%;
        min-height: 190px;
    }

    .width {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        justify-content: flex-start;
        width: 94%;
        -webkit-box-shadow: 9px 7px 42px -25px rgba(0,0,0,0.75);
        -moz-box-shadow: 9px 7px 42px -25px rgba(0,0,0,0.75);
        box-shadow: 9px 7px 42px -25px rgba(0,0,0,0.75);
        -webkit-transition: width 1s, height 0.5s;
        transition: width 1s, height 0.5s;
        transition: transform .2s; /* hover zoom Animation */
    }

    .width:hover {
    transform: scale(1.03);
    z-index: 1;
    }

    .business-rating-price p {
        font-size: 0.85rem;
    }

    .fa-star {
        font-size: 0.9rem;
    }
    
    .business-text {
        width: 70%;
        margin: 15px 15px 15px 240px;
        padding: 0px;
    }

    .infoDiv {
        margin: 15px;
        border-top: none;
        border-left: 1px dotted lightgray;
        padding-top: 0px;
        padding-left: 15px;
        }


}