<div class="idea-list">
<h2 >bar ideas</h2>
<span></span>
</div>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="curated-place">
        <div class="favorite-button">
          <i class="fa fa-heart"></i>
        </div>
        <div class="place-description">
          <div class="place-image">
            <img src="https://s3-media1.fl.yelpcdn.com/bphoto/n2YYgU9q5DJ5H0n2n9G11g/o.jpg"
              alt="Image of the described place">
          </div>
          <h2 class="place-name">Name of the Place</h2>
          <ul>
            <li>(781) 803-2456</li>
            <li>835 Washington St, Boston MA 48320</li>
            <li>www.website/articlefifteenbrewing.com</li>
          </ul>
          <p>“description or review I like this bar! Clean...good selection of drinks..not overly priced... nice
            staff... I'll be back”</p>
          <button class="toggle-info">MORE INFO...</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div> -->