.business {
    background: 
    linear-gradient(90deg, transparent, white), 
    linear-gradient(#33999b, #9999cd);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 25px;
}

.business-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 5px 15px 20px 15px;
    
}

.name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

img {
    top: 15px;
    right: 0;
    width: 100px;
    height: auto;
    position: absolute;
    /* margin: 10px; */
 }

.fa-heart {
    position: absolute;
    color: #2e8a8b;
    font-size: 20px;
    top: -8px;
    left: 12px;
}

h1 {
    /* margin: 25px 0; */
    font-size: 1.5rem;
    font-weight: 800;
}

.business p {
    margin-bottom: 5px;
}

.categories {
    font-size: 0.9rem;
}

.address {
    margin-top: 15px;
}


a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

button {
    border: none;
    background-color: transparent;
    width: 70%;
    padding: 0;
    text-align: left;
    margin-top: 20px;

}

.infoDiv {
margin: 15px;
}

.phone {
    margin-bottom: 15px;
}

/* .hoursTimes{
    margin-bottom: 10px;
} */

.hoursTitle {
    margin-top: 15px;
    font-weight: 600;
}
.reviewText {
    margin-bottom: 15px;
}

.reviews {
    margin-top: 20px;

}

.like {
    color: black;

}

@media only screen and (min-width: 480px) {
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.business {
    width: 45%;
}

.fullWidth {
    width: 100%;
}

.imgSize {
    width: 300px;
}

}

@media only screen and (min-width: 1024px) {

    .business {
        width: 32%;
    }
    
    .fullWidth {
        width: 100%;
    }

    .imgSize {
        width: 350px;
        top: 20px;
        right: 20px;
    }

}