input {
    border: none;
    width: 100px;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 99;
    background-color: rgba(46, 46, 46, 0.9);
    opacity: 0.95;
    width: 100%;
    height: 100%;
}

.locationDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    height: 300px;
    background-image: linear-gradient(#9999cd, #33999b);
    color: white;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;

}

h1 {
    font-size: 5rem;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h2 {
    font-size: 1rem;
    margin-bottom: 15px;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 1.5rem;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 5px 15px 5px 15px;
}

::placeholder { 
    color: white;
    opacity: 1; 
  }

.locationInput {
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    padding: 5px 0px 5px 0px;
}

.inputContainer button {
border-radius: 3px;
font-size: 1.5rem;
background-color: transparent;
color: white;
}

.logo-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    height: 300px;
}

.plus-logo {
    text-align: center;

    font-size: 4rem;
    background: -webkit-linear-gradient(#9999cd, #33999b);        
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
    font-family: 'Rubik', sans-serif;
}

.largeLogo {
    text-align: left;
    font-size: 6rem;

    background: -webkit-linear-gradient(#9999cd, #33999b);        
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Rubik', sans-serif;
}

.carousel-item  {
    background-image: linear-gradient(#9999cd, #33999b);
    height: 250px;
    line-height: 250px;
    margin: 0 auto;
    color: white;
    font-size: 2rem;
    text-align: center;
  }

  button {
      border: none;
  }

  .far 
  .fa-heart {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

