<div class="overlay" *ngIf="showModal"></div>
<div class="modal-container" *ngIf="showModal">
  <div class="locationDiv">
    <h1>HEY</h1>
    <!-- <h2>SO YOU FOUND YOUR +1</h2> -->
    <h3>LET'S BUILD A DATE!</h3>
    <div class="inputContainer">
      <input class="locationInput" type="text" [(ngModel)]="locationInput" placeholder="City and State" />
      <button type="button"  (click)="locationClick(locationInput)">Go!</button>
    </div>
  </div>
</div>
<div class="largeLogo">+1</div>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <button class="carousel-item active" (click)="firstDateClick()">
          First Date
        <!-- <img class="d-block w-100" src="..." alt="First slide"> -->
      </button>
      <button class="carousel-item" (click)="romanticClick()">
        Romantic
        <!-- <img class="d-block w-100" src="..." alt="Second slide"> -->
      </button>
      <button class="carousel-item" (click)="adventurousClick()">
          Adventurous
        <!-- <img class="d-block w-100" src="..." alt="Third slide"> -->
      </button>
      <button class="carousel-item" (click)="oneOfClick()">
          One of a kind
        <!-- <img class="d-block w-100" src="..." alt="Third slide"> -->
      </button>
      <button class="carousel-item" (click)="LastDateClick()">
          Last Date
        <!-- <img class="d-block w-100" src="..." alt="Third slide"> -->
      </button>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>